.home-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
}

/*
#988bac
*/

.home-header-color {
    background-color: #e6ab7b;
}

/* responsiveness */
@media screen and (max-width: 1024px) {
    .home-heading {
        min-height: 15vh;
    }
}
