/*
#eebda3ff
*/
.home-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
    flex-direction: column;
}

.home-heading-name {
    padding: 20px 10px 0px 10px;
    font-size: 3rem;
}

.home-heading-title {
    padding: 0px 10px;
    font-size: 1.5rem;
}
.home-header-color {
    background-color: rgb(224, 166, 118);
}

/* responsiveness */
@media screen and (max-width: 1024px) {
    .home-heading {
        min-height: 10vh;
    }

    .home-heading-name {
        font-size: 1.5rem;
    }

    .home-heading-title {
        font-size: 1rem;
    }
}
