.organization-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 30px;
    grid-auto-rows: minmax(auto, auto);
    padding: 30px 10vw;
}

.organization-grid-item {
    border-radius: 8px;
    border: solid;
}

.organization-item-color {
    background-color: white;
}

.organization-body-empty {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
}

.organization-body-subheading {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
}

.organization-separator {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 35vw 0px 35vw;
}

.organization-separator::before,
.organization-separator::after {
    content: "";
    flex: 1;
    border: 2px solid #000;
    border-radius: 5px;
}
.organization-separator::before {
    margin-right: 0.25em;
}
.organization-separator::after {
    margin-left: 0.25em;
}

/* responsiveness */
@media screen and (max-width: 1024px) {
    .organization-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
        row-gap: 30px;
        grid-auto-rows: minmax(auto, auto);
        padding: 30px 10vw;
    }

    .organization-body-empty {
        text-align: center;
        font-size: 1.2rem;
        margin: 0px 20px;
    }

    .organization-body-subheading {
        font-size: 1.2rem;
        text-align: center;
        margin: 0px 20px;
    }

    .organization-separator {
        margin: 0px 5vw 0px 5vw;
    }

    .organization-separator::before,
    .organization-separator::after {
        border: 1px solid #000;
        border-radius: 5px;
    }
    .organization-separator::before {
        margin-right: 0.25em;
    }
    .organization-separator::after {
        margin-left: 0.25em;
    }
}
