.login-container {
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f3e7f3;
}

.login-title {
    font-family: "Architects Daughter";
    padding: 20px 20px 0px 20px;
    font-size: 7em;
}

.login-input-block {
    width: 70vw;
}

.login-input-field {
    outline-color: #b914de;
    color: #b914de;
}

.login-button-container * {
    margin: 10px 20px 10px 20px;
    min-width: 150px;
}

/* responsiveness */
@media screen and (max-width: 1024px) {
    .login-title {
        font-family: "Architects Daughter";
        padding: 20px 20px 0px 20px;
        font-size: 3.5em;
    }

    .login-button-container * {
        margin: 10px 10px 10px 10px;
        min-width: 100px;
    }
}
