/* search string between seperator | all shorts */
.organization-body-subheading {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: black;
}

/* seperator between search and body */
.organization-separator {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px 35vw 0px 35vw;
}

.organization-separator::before,
.organization-separator::after {
    content: "";
    flex: 1;
    border: 2px solid #000000;
    border-radius: 5px;
}

.organization-separator::before {
    margin-right: 0.25em;
}

.organization-separator::after {
    margin-left: 0.25em;
}

/* responsiveness */
@media screen and (max-width: 1024px) {
    .organization-body-subheading {
        font-size: 1.2rem;
        text-align: center;
        margin: 0px 20px;
    }

    .organization-separator {
        margin: 0px 5vw 0px 5vw;
    }

    .organization-separator::before,
    .organization-separator::after {
        border: 1px solid #000;
        border-radius: 5px;
    }
    .organization-separator::before {
        margin-right: 0.25em;
    }
    .organization-separator::after {
        margin-left: 0.25em;
    }
}
