.search-button {
    display: inline-block;
    background-color: rgb(252, 252, 252);
    padding: 0.45em 2em;
    border: 2px solid black;
    margin: 0 0.3em 0em 0.3em;
    border-radius: 0.35em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: black;
    text-align: center;
    transition: all 0.2s;
}

.search-button:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    min-width: 40vw;
    padding: 0.5em 1em 0.5em 1em;
    font-weight: 300;
    border: 2.5px solid #555555;
    border-radius: 0.35em;
    transition: all 0.2s;
}

.search-input:focus {
    padding: 0.65em 1.1em 0.65em 1.1em;
    border: 2px solid #000000;
}

.search-input:focus + .search-button {
    padding: 0.6em 2.2em;
    border: 2px solid #000000;
}

@media all and (max-width: 20em) {
    .search-button {
        display: block;
        margin: 0.4em auto;
        padding: 0.3em 1.5em;
    }

    .search-container {
        display: block;
    }

    .search-input {
        display: block;
        min-width: 75vw;
        margin: 0.4em auto;
        padding: 0.3em 0.75em;
    }

    .search-input:focus {
        padding: 0.5em 0.8em;
        border: 2px solid #000000;
    }

    .search-input:focus + .search-button {
        padding: 0.3em 1.5em;
        border: 2px solid #000000;
    }
}
