.object-card {
    margin: 15px 20px;
    min-width: 33vw;
}

.card-content {
    padding: 10px 35px;
}

/*
#f5f3f0
*/

.object-card-color {
    background-color: #f7efee;
}

/* responsiveness */
@media screen and (max-width: 1024px) {
    .object-card {
        margin: 20px 0vw;
        width: 100%;
    }
    .card-content {
        padding: 5px 10px;
    }
}
